@page
@model Moviekus.Web.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Filme";
}

<table>
    <tr>
        <td style="padding-right:15px;"><img src="~/images/movie.png" style="width:48px;height:48px;"></td>
        <td><h1>Filme</h1></td>
    </tr>
</table>

<p>
    <table>
        <tr>
            <td style="padding-right:10px;"><img src="~/images/addnew.png" style="width:24px;height:24px;" title="Neuen Film anlegen"></td>
            <td><a asp-page="Create">Neuer Film</a></td>
        </tr>
    </table>
</p>

<table class="table">
    <thead>
        <tr>
            <th/>
            <th>@Html.DisplayNameFor(model => model.Movies[0].Movie.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Movies[0].Movie.ReleaseDate)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var viewModel in Model.Movies)
        {
            <tr>
                <td>
                    @{
                        String img64Url = "";
                        if (viewModel.Movie.Cover != null)
                        {
                            String img64 = Convert.ToBase64String(viewModel.Movie.Cover);
                            img64Url = string.Format("data:image/png;base64,{0}", img64);
                        }
                    }
                    <img src="@img64Url" style="width: 120px;height: 160px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
                </td>
                <td>
                    <h4>@Html.DisplayFor(modelItem => viewModel.Movie.Title)</h4>
                    <p style="color:dodgerblue;"><i>@Html.DisplayFor(modelItem => viewModel.SubTitle)</i></p>
                    <p stype="font-size:80%">@Html.DisplayFor(modelItem => viewModel.Movie.Description)</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => viewModel.Movie.ReleaseDate.Year)
                </td>
                <td style="min-width:140px">
                    <a asp-page="./Edit" asp-route-id="@viewModel.Movie.Id"><img src="~/images/edit.png" style="width:24px;height:24px;" title="Bearbeiten"></a> |
                    <a asp-page="./Details" asp-route-id="@viewModel.Movie.Id"><img src="~/images/movie.png" style="width:24px;height:24px;" title="Details"></a> |
                    <a asp-page="./Delete" asp-route-id="@viewModel.Movie.Id"><img src="~/images/delete.png" style="width:24px;height:24px;" title="Löschen"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
